:root {
    --main-color: rgb(224, 166, 78);
    --gray-text: rgb(39, 39, 39); 
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styling */
.header {
    height: 75px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.82); 
    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.82);
    z-index: 5;
}

.header-text {
    color: white;
}

/* Main content styling */
.main-content {
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-wrapper {
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
}

.player-wrapper, .computer-wrapper {
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.log-wrapper {
    margin-top: 40px;
    height: 150px;
    width: 600px;
}

.log-title {
    margin: 5px;
    font-size: 14px;
}

.log {
    background-color: rgb(248, 248, 248);
    height: 130px;
    width: 100%;
    overflow-y: auto;
}

.log-message {
    font-size: 14px;
    margin: 5px;
}

.confirm {
    padding: 5px 20px;
    font-size: 14px;
    background-color: orange;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    color: var(--gray-text);
    cursor: pointer;
    text-align: center;
}

.player-stats, .computer-stats {
    box-sizing: border-box;
    width: 150px;
    height: 340px;
    padding: 10px;
}

.stats-title {
    font-size: 20px;
}

.board-label {
    margin: auto;
    font-size: 14px;
    margin-top: 0;
    color: var(--gray-text);
}

/* Grid styling */
.player-board, .computer-board {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    height: 340px;
    width: 340px;
}

.cell, .label-cell {
    height: 30px;
    width: 30px;
    font-size: 14px;
}

.cell {
    background-color: rgb(241, 241, 241);
}

.label-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-ship {
    border: 2px solid orange;
    background-color: rgba(255, 193, 78, 0.13);
    z-index: 2;
}

.drag-ship {
    cursor: pointer;
}

.beingDragged {
    display: none;
}

/* Status box styling */
.stats-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ship-container {
    display: flex;
    gap: 5px;
}

.ship-box {
    height: 20px;
    width: 20px;
    background-color: rgb(99, 99, 255);
}

.box-hit {
    background-color: rgb(255, 72, 72);
}


/* Footer styling */
.footer {
    height: 40px;
    display: flex;
    justify-content: center;
}

.footer-text {
    font-size: 12px;
    color: var(--gray-text);
}